/* header section style  */
.header-color {
    background-color: #264653;

}

.head-text-color {
    color: #FFFFFF;

}

.paragraph-color {
    color: #E0E0E0;

}

.btn-color {
    background-color: #E76F51;
}

/* featured section style  */
.feature-paragraph-color {
    color: #E76F51;
    font-weight: bold;
}

/* bike section  */
.bike-gray {

    filter: grayscale(100%);
}

/* happy clients style */
.client-header-color {
    color: #E76F51;
}

.icon-color {
    color: #E77C40;
}

.card-text {
    color: #6C6C6C;

}

.font-color {
    color: #23A6F0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.font-text-banker {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: #252B42;
}

/* extra form section style  */
.form-background {
    background-color: lightgray;
}

.feedback-color {
    background-color: rgb(233, 233, 170);

}